{{ define "main" }}
<div class="container">
    <h5 class="back-link"><a href="{{ (.GetPage "projects").Permalink }}"><-- return to ~/{{ .Section }}</a></h5>
    <h1 class="terminal-prompt">cat ./{{ replace (lower .Params.Name) " " "_" }}/README.md</h1>
    <p class="small">
        #️⃣ Hash: <code>{{ md5 .Params.Name }}</code>
    </p>
    <p class="small">
        🔗 Link: {{ if .Params.Link }}<a href="{{.Params.Link}}" target="_blank">{{ .Params.Link }}</a>{{ else }}<u>no link provided</u>{{ end }}
    </p>
    <p class="small">
        👓 Reading time: {{ .ReadingTime }} minuti
    </p>
    <p class="small">
        🏎 TLDR: {{ .Params.tldr }}
    </p>
    <hr />
    {{ if .Content }}
        {{ .Content }}
    {{ else }}
        <p><strong>NO CONTENT PROVIDED...</strong></p>
    {{ end }}
</div>
{{ end }}