{{ define "main" }}
<!-- Navbar -->
<div class="container" id="menu">
    <div class="terminal-nav">
        <nav class="terminal-menu">
        <ul>
            <li><a class="menu-item" href="#whoami">about me.</a></li>
            <li><a class="menu-item" href="#projects">projects.</a></li>
            <li><a class="menu-item" href="#skills">skills.</a></li>
            <li><a class="menu-item" href="#timeline">timeline.</a></li>
            <li><a class="menu-item" href="#contacts">contacts.</a></li>
        </ul>
        </nav>
    </div>
</div>

<!-- Welcome message -->
<div class="container" id="welcome-msg">
    <img src="https://picsum.photos/100" alt="me" />
    <h1>{{ .Site.Params.welcome.message }} <span>{{ .Site.Params.welcome.messageSpan }}</span></h1>
    <h5>{{ .Site.Params.welcome.quote }}</h5>
    <p><a data-micromodal-trigger="modal-1">[resume.pdf]</a></p>
    <p id="scroll-down-msg">Scroll down to continue...</p>
</div>

<!-- About me description with interests -->
<div class="container" id="whoami">
    <hr />
    <h2 class="terminal-prompt">whoami</h2>
    {{ (.Site.GetPage "section" "about").Content }}
</div>

<!-- Projects -->
<div class="container" id="projects">
    <hr />
    <h2 class="terminal-prompt">ls -ahl ~/projects</h2>
    {{ range $index, $project := (.Site.GetPage "section" "projects").Pages }}
        {{ if eq (mod $index 2) 0}}
            <div class="terminal-card-container">
        {{end}}
            <div class="terminal-card">
                <header>{{ $project.Params.Name }}</header>
                <div>
                    {{ $project.Params.tldr }}<a href="{{ .Permalink }}">[more]</a>
                </div>
            </div>
        {{ if ne (mod $index 2) 0}}
            </div>
        {{end}}
    {{ end }}
    <a href="/projects" class="btn btn-primary btn-block btn-ghost">Browse all projects --></a>
</div>

<!-- Skills -->
<div class="container" id="skills">
    <hr />
    <h2 class="terminal-prompt">cat skills.json | jq</h2>
    <p>
        “Develop a passion for learning. If you do, you will never cease to grow.”<br />
        <em style="float: right;">Anthony J. D’Angelo</em>
    </p>
    <div>
        <div class="left-skills">
        {{ $leftSkills := (div (len (.Site.GetPage "section" "skills").Pages) 2) }}
        {{ range (.Site.GetPage "section" "skills").Pages | first  $leftSkills }}
            <p class="progress-bar-description">{{ .Params.Name }}</p>
            <div class="progress-bar progress-bar-no-arrow">
                <div class="progress-bar-filled" style="width: {{ .Params.Level }}%"></div>
            </div>
        {{ end }}
        </div>
        <div class="right-skills">
        {{ range after $leftSkills (.Site.GetPage "section" "skills").Pages }}
            <p class="progress-bar-description">{{ .Params.Name }}</p>
            <div class="progress-bar progress-bar-no-arrow">
                <div class="progress-bar-filled" style="width: {{ .Params.Level }}%"></div>
            </div>
        {{ end }}  
        </div>
    </div>
</div>

<!-- Life timeline -->
<div class="container" id="timeline">
    <hr />
    <h2 class="terminal-prompt">history | grep raffaele</h2>
    <div class="terminal-timeline">
        {{ range sort ((.Site.GetPage "section" "events").Pages) ".Params.sort" }}
        <div class="terminal-card">
            <header>{{ .Params.emoji }} {{ .Params.time }} [6adfb]</header>
            <div>
                <p>
                    <strong>{{ .Title }}</strong>
                </p>
                <p>
                    {{ .Params.description }}
                </p>
            </div>
        </div>
        {{ end }}
    </div>
</div>

<!-- Contacts -->
<div class="container" id="contacts">
    <hr />
    <h2 class="terminal-prompt">ip addr show</h2>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mi augue, accumsan ornare quam sed, tempus volutpat felis:
    </p>
    <ul>
        <li>📱 <a href="{{ .Site.Params.Contacts.Telegram }}" target="_blank">Telegram</a></li>
        <li>📷 <a href="{{ .Site.Params.Contacts.Instagram }}" target="_blank">Instagram</a></li>
        <li>💼 <a href="{{ .Site.Params.Contacts.Linkedin }}" target="_blank">Linkedin</a></li>
        <li>🐣 <a href="{{ .Site.Params.Contacts.Twitter }}" target="_blank">Twitter</a></li>
        <li>🐙 <a href="{{ .Site.Params.Contacts.Github }}" target="_blank">Github</a></li>
    </ul>
    <p>GPG: <code>{{ .Site.Params.Contacts.gpg }}</code></p>
</div>
{{- partial "modals/cv.html" . -}}
{{ end }}