{{ define "main" }}
<div class="container">
    <h5 class="back-link"><a href="/">~/</a></h5>
    <h2 class="terminal-prompt terminal-prompt-spaced">ls -ahl | grep {{ .Section }}</h2>

    {{ range $index, $element := .Pages }}
    <div class="list-item">
        <!--<h3>
            {{ $index }}. {{ .Params.Name }}
        </h3>-->
        <h3>
            {{ .Params.Name }}
        </h3>
        <!--{{ if .Params.opensource }}
        <span class="label label-opensource">Open source</span>
        {{ end }}-->

        <ul class="small">
            <li><strong>Hash:</strong> <code>{{ sha1 .Params.Name }}</code></li>
            <li><strong>Link:</strong> {{ if .Params.Link }}<a href="{{.Params.Link}}" target="_blank">{{ .Params.Link }}</a>{{ else }}<u>no link provided</u>{{ end }}</li>
            {{ if .Params.opensource }}
            <li><strong>open source ❤️</strong></li>
            {{ end }}
        </ul>
        
        <p class="tldr">{{ .Params.tldr }}</p>
        <a href="{{ $element.RelPermalink }}" class="btn btn-default btn-block btn-ghost">cat {{ replace (lower .Params.Name) " " "_" }}.txt</a>
        {{ if ne $index (sub (len $.Pages) 1) }}
        <hr />
        {{ end }}
    </div>
    {{ end }}
</div>
{{ end }}