{{ define "main" }}
<div class="container">
    <h5 class="back-link"><a href="/"><-- return to ~/</a></h5>
    <h1>Archive for "{{ .Section }}"</h1>
    <p>
        Below you can find all the items related to {{ .Section }}. Click on the <code>cd</code> button to open the page of the item.
    </p>
    {{ range $index, $element := .Pages }}
    <div class="list-item">
        <hr />
        <h3>
            {{ add $index 1 }}. {{ .Params.Name }}
        </h3>
        {{ if .Params.opensource }}
        <span class="label label-opensource">Open source</span>
        {{ end }}
        <p class="small">
            #️⃣ Hash: <code>{{ md5 .Params.Name }}</code>
        </p>
        <p class="small">
            🔗 Link: {{ if .Params.Link }}<a href="{{.Params.Link}}" target="_blank">{{ .Params.Link }}</a>{{ else }}<u>no link provided</u>{{ end }}
        </p>
        <p class="tldr">TLDR: {{ .Params.tldr }}</p>
        <a href="{{ $element.Permalink }}" class="btn btn-default btn-block btn-ghost">cd ./{{ replace (lower .Params.Name) " " "_" }}</a>
    </div>
    {{ end }}
</div>
{{ end }}