{{ define "main" }}
<div class="container">
    <h5 class="back-link"><a href="{{ (.GetPage "projects").RelPermalink }}">~/{{ .Section }}</a></h5>
    <h2 class="terminal-prompt terminal-prompt-spaced">cat readme.txt</h2>
    <ul class="small">
        <li><strong>Hash:</strong> <code>{{ md5 .Params.Name }}</code></li>
        <li><strong>Link:</strong> {{ if .Params.Link }}<a href="{{.Params.Link}}" target="_blank">{{ .Params.Link }}</a>{{ else }}<u>no link provided</u>{{ end }}</li>
        <li><strong>Reading time:</strong> {{ .ReadingTime }} minuti</li>
        <li><strong>TLDR:</strong> {{ .Params.tldr }}</li>
    </ul>
    <hr />
    <div class="single-content">
        {{ if .Content }}
            <h1>{{ .Params.Name }}</h1>
            {{ .Content }}
        {{ else }}
            <p><strong>NO CONTENT PROVIDED...</strong></p>
        {{ end }}
    </div>
</div>
{{ end }}