/*
Azzurro: #05d9e8
Magenta: #ff2a6d
Bianco: #f8f8f2
*/
.bg
{
  color: #f8f8f2;
  background-color: rgb(22, 22, 22);
}

.chroma
{
  color: #f8f8f2;
  background-color: rgb(22, 22, 22);
}

.chroma .err
{
  color: #ff2a6d;
}

.chroma .lntd
{
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}

.chroma .lntable
{
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

.chroma .hl
{
  background-color: #191919;
}

.chroma .lnt
{
  white-space: pre;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #727272;
}

.chroma .ln
{
  white-space: pre;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #727272;
}

.chroma .line
{
  display: flex;
}

.chroma .k
{
  color: #ff2a6d;
  font-weight: bold;
}

.chroma .kc
{
  color: #a9a9a9;
}

.chroma .kd
{
  color: #ff2a6d;
  font-weight: bold;
}

.chroma .kn
{
  color: #ff2a6d;
  font-weight: bold;
}

.chroma .kp
{
  color: #ff2a6d;
  font-weight: bold;
}

.chroma .kr
{
  color: #ff2a6d;
  font-weight: bold;
}

.chroma .kt
{
  color: #ff2a6d;
  font-weight: bold;
}

.chroma .na
{
  color: #a9a9a9;
}

.chroma .nb
{
  color: #f8f8f2;
}

.chroma .nt
{
  font-weight: bold;
  color: #ff2a6d;
}

.chroma .ld
{
  color: #00ffff;
}

.chroma .s
{
  color: #00ffff;
  font-weight: bold;
}

.chroma .sa
{
  color: #00ffff;
  font-weight: bold;
}

.chroma .sb
{
  color: #ff2a6d;
}

.chroma .sc
{
  color: #00ffff;
  font-weight: bold;
}

.chroma .dl
{
  color: #00ffff;
  font-weight: bold;
}

.chroma .sd
{
  color: #00ffff;
  font-weight: bold;
}

.chroma .s2
{
  color: #f8f8f2;
}

.chroma .se
{
  color: #00ffff;
  font-weight: bold;
}

.chroma .sh
{
  color: #00ffff;
  font-weight: bold;
}

.chroma .si
{
  color: #f8f8f2;
}

.chroma .sx
{
  color: #00ffff;
  font-weight: bold;
}

.chroma .sr
{
  color: #00ffff;
  font-weight: bold;
}

.chroma .s1
{
  color: #00ffff;
}

.chroma .ss
{
  color: #00ffff;
  font-weight: bold;
}

.chroma .m
{
  color: #00ffff;
}

.chroma .mb
{
  color: #00ffff;
}

.chroma .mf
{
  color: #00ffff;
}

.chroma .mh
{
  color: #00ffff;
}

.chroma .mi
{
  color: #00ffff;
}

.chroma .il
{
  color: #00ffff;
}

.chroma .mo
{
  color: #00ffff;
}

.chroma .c
{
  color: #a9a9a9;
}

.chroma .ch
{
  color: #a9a9a9;
}

.chroma .cm
{
  color: #a9a9a9;
}

.chroma .c1
{
  color: #a9a9a9;
}

.chroma .cs
{
  color: #a9a9a9;
}

.chroma .cp
{
  color: #00ff00;
  font-weight: bold;
}

.chroma .cpf
{
  color: #00ff00;
  font-weight: bold;
}

.chroma .gh
{
  font-weight: bold;
}

.chroma .gs
{
  font-weight: bold;
}

.chroma .gu
{
  font-weight: bold;
}

.chroma .gl
{
  text-decoration: underline;
}