/* Uncomment for dark mode */
:root {
    --global-font-size: 15px;
    --global-line-height: 1.4em;
    --global-space: 10px;
    --font-stack: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
      serif;
    --mono-font-stack: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
      serif;
    --background-color: rgb(22, 22, 22);
    --page-width: 60em;
    --font-color: #f8f8f2;
    --invert-font-color: #303030;
    --secondary-color: #05d9e8;
    --tertiary-color: var(--font-color);
    --primary-color: #ff2a6d;
    --error-color: #ec0e33;
    --progress-bar-background: #303030;
    --progress-bar-fill: var(--primary-color);
    --code-bg-color: #303030;
    --input-style: solid;
    --display-h1-decoration: none;
}

html {
    scroll-behavior: smooth!important;
}

body {
    min-height: 100vh;
}

#not-found {
    text-align: center;
    background-color: black;
    display: flex;
    align-items: center;
}

ol li {
    padding-left: 0px;
}

hr {
    border-bottom: 2px solid #444444;
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}

.terminal-prompt-spaced {
    margin-top: 20px!important;
}

.terminal-prompt::before {
    content: "$ ";
}

.terminal-prompt, h1, h2, h3, h4, h5, h6 {
    color: var(--tertiary-color);
}

.terminal-timeline::before {
    background-color: var(--primary-color);
}

.back-link {
    margin-top: 25px;
    margin-bottom: 0px;
    text-align: right;
}

.progress-bar-description {
    margin-bottom: 5px;
}
.progress-bar {
    margin-top: 0px;
    margin-bottom: 30px;
}
.terminal-card p {
    text-align: left;
}

.highlight {
    margin-top: 10px;
    margin-bottom: 30px;
}

.highlight pre {
    background-color: var(--code-bg-color)!important;
}

.highlight pre code:before, .highlight pre code:after {
    display: none;
}

.chroma {
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
}

.chroma code {
    overflow-x: hidden;
    line-height: 1.6;
}

/* Navbar */
.terminal-menu ul {
    justify-content: center;
}

/* Welcome message */
#welcome-msg {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
}
#welcome-msg img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}
#welcome-msg h1 {
    width: 100%;
    text-align: center;
    display: block;
}
#welcome-msg h1 span {
    color: var(--primary-color);
}
#welcome-msg p {
    text-align: center;
}
#scroll-down-msg {
    display: none;
}

/* About me */
#whoami {
    margin-right: auto;
}

/* projects */
.terminal-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 25px;
}
.terminal-card-container .terminal-card:nth-child(2) {
    margin-left: 10px;
}

/* Skills */
#skills > div {
    display: flex;
    font-size: 13px;
}

#skills div.left-skills {
    width: 50%;
    float: left;
    clear: none;
    padding: 0px 10px;
    padding-right: 20px;
}

#skills div.right-skills {
    width: 50%;
    float: left;
    clear: none;
    padding: 0px 10px;
    padding-left: 20px;
}

.progress-bar-description {
    text-align: left;
}

#skills div.left-skills .progress-bar:last-child, #skills div.right-skills .progress-bar:last-child {
    margin-bottom: 0px;
}

/* history */
#history .terminal-timeline .terminal-card {
    width: 90%;
    margin-top: 25px!important;
}

#history .terminal-timeline .terminal-card p {
margin-bottom: 0px;
}

/* contacts */
#contacts pre {
    border: 0px;
    color: var(--font-color);
    margin: 0px;
    padding: 0px;
}

#contacts pre span {
    font-size: 13px;
    /*border-bottom: 2px solid var(--primary-color);*/
}

#contacts pre .secondary {
    border-bottom: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: var(--global-font-size);
}

/* Footer */
footer {
    margin-top: 70px!important;
    margin-bottom: 30px!important;
    color: var(--tertiary-color);
}

footer p {
    text-align: center;
}

/****
List
****/
.list-item h3 {
    padding-top: 5px;
    margin-bottom: 0px;
    display: inline-block;
    color: var(--primary-color);
}

.small {
    font-size: 13px;
    margin-bottom: 10px;
}

.label {
    font-size: 12px;
    display: inline-block;
    padding: 0px 13px;
    border-radius: 15px;
}

.label-opensource {
    background-color: var(--primary-color);
}

.list-item .tldr {
    margin-top: 25px;
}

/*** Single page (currently used only for projects) ***/
.single-content h1 {
    padding-top: 0px;
}

.single-content h2 {
    margin-top: 2em;
    margin-bottom: 0.4em;
}

.single-content h3, .single-content h4 {
    margin-top: 1.7em;
    margin-bottom: 0.4em;
}

.single-content p {
    margin-bottom: 10px;
}

.single-content ul li, .single-content ol li {
    margin-bottom: 5px;
}

.single-content ul li:last-child, .single-content ol li:last-child {
    margin-bottom: 0px;
}

.single-content * img {
    width: auto;
    max-width: 100%;
}

/***
Responsive fix
***/
@media screen and (max-width: 550px) {
    /* Menu */
    #menu {
        display: none;
    }
    #welcome-msg {
        height: 100vh;
        padding-top: 0px;
        padding-bottom: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #scroll-down-msg {
        position: absolute;
        bottom: 10px;
        display: block;
    }
    h2.terminal-prompt {
        font-size: 1.3em;
    }
    #skills > div {
        flex-direction: column;
    }
    #skills div.left-skills {
        width: 100%;
        float: none;
        clear: none;
        padding-right: 0px;
        padding-left: 0px;
    }
    #skills div.right-skills {
        margin-top: 30px;
        width: 100%;
        float: none;
        padding-left: 0px;
        padding-right: 0px;
    }
    .terminal-card-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        margin-bottom: 25px;
    }
    .terminal-card-container .terminal-card:first-child {
        margin-bottom: 25px;
        margin-right: 0px;
    }
    #history .terminal-timeline .terminal-card {
        width: 100%;
        margin-top: 25px;
        font-size: 13px;
    }
    .terminal-timeline::before {
        left: 15px;
    }
    .terminal-timeline {
        padding-left: 40px;
    }
    .terminal-timeline .terminal-card::before {
        left: 6px;
    }
    .modal__container {
        max-width: 100%;
        width: 100%;
    }
}

/*** Modal ***/
.modal__overlay {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,.70);
    display:flex;
    justify-content:center;
    padding:1rem;
    align-items:center
   }
   .modal__container {
    background-color:var(--background-color);
    padding:calc(var(--global-space) * 3);
    min-width: 50%;
    max-width:95%;
    max-height: 90vh;
    border-radius:0;
    overflow-y:auto;
    box-sizing:border-box;
    border:1px solid var(--secondary-color);
    box-shadow:3px 3px 0 0 var(--secondary-color);
   }
   .modal__header {
    display:flex;
    justify-content:space-between;
    align-items:center
   }
   .modal__title {
    margin-top:0;
    margin-bottom:0;
    font-weight:600;
    margin-right: 30px;
    font-size:1.25rem;
    line-height:1.25;
    color:var(--primary-color);
    box-sizing:border-box
   }
   .modal__close {
    background:0 0;
    border:0;
    font-size:var(--global-font-size);
    color:var(--secondary-color);
    font-family:var(--font-stack);
    cursor: pointer;
   }
    .modal__header .modal__close:hover:before {
       background-color: var(--secondary-color);
       color: var(--font-color);
   }
   .modal__header .modal__close:before {
    content:"[esc]"
   }
   .modal__content {
    margin-top: 30px;
    margin-bottom:var(--global-space);
    color:var(--global-font-color)
   }
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}