{{ define "main" }}
<!-- Navbar -->
<div class="container" id="menu">
    <div class="terminal-nav">
        <nav class="terminal-menu">
        <ul>
            <li><a class="menu-item" href="#whoami">[a]bout me.</a></li>
            <li><a class="menu-item" href="#history">[h]istory.</a></li>
            <li><a class="menu-item" href="#skills">[s]kills.</a></li>
            <li><a class="menu-item" href="#projects">[p]rojects.</a></li>
            <li><a class="menu-item" href="#contacts">[c]ontacts.</a></li>
        </ul>
        </nav>
    </div>
</div>

<!-- Welcome message -->
<div class="container" id="welcome-msg">
    <img src="https://secure.gravatar.com/avatar/2937340d084be856d395c3842aa9e4bf?s=400" alt="me" />
    <h1>{{ .Site.Params.welcome.message }} <span>{{ .Site.Params.welcome.messageSpan }}</span></h1>
    <h5>{{ .Site.Params.welcome.quote }}</h5>
    <p><a data-micromodal-trigger="modal-1">[r]esume.pdf</a></p>
    <p id="scroll-down-msg">Scroll down to continue...</p>
</div>

<!-- About me description with interests -->
<div class="container" id="whoami">
    <hr />
    <h2 class="terminal-prompt">whoami</h2>
    {{ (.Site.GetPage "section" "about").Content }}
</div>

<!-- History -->
<div class="container" id="history">
    <hr />
    <h2 class="terminal-prompt">history | grep raffaele</h2>
    <div class="terminal-timeline">
        {{ range sort ((.Site.GetPage "section" "events").Pages) ".Params.sort" }}
        <div class="terminal-card">
            <header><b>{{ .Params.time }}</b></header>
            <div>
                <p>
                    <span class="primary"><strong>{{ .Title }}</strong></span><br />
                    <br />
                    {{ .Params.description }}
                </p>
            </div>
        </div>
        {{ end }}
    </div>
</div>

<!-- Skills -->
<div class="container" id="skills">
    <hr />
    <h2 class="terminal-prompt">htop -F skills</h2>
    <div>
        <div class="left-skills">
        {{ $leftSkills := (div (len (.Site.GetPage "section" "skills").Pages) 2) }}
        {{ range (sort (.Site.GetPage "section" "skills").Pages ".Params.Name" "asc") | first  $leftSkills }}
            <p class="progress-bar-description">{{ .Params.Name }}</p>
            <div class="progress-bar progress-bar-no-arrow">
                <div class="progress-bar-filled" style="width: {{ .Params.Level }}%"></div>
            </div>
        {{ end }}
        </div>
        <div class="right-skills">
        {{ range after $leftSkills (sort (.Site.GetPage "section" "skills").Pages ".Params.Name" "asc") }}
            <p class="progress-bar-description">{{ .Params.Name }}</p>
            <div class="progress-bar progress-bar-no-arrow">
                <div class="progress-bar-filled" style="width: {{ .Params.Level }}%"></div>
            </div>
        {{ end }}  
        </div>
    </div>
</div>

<!-- Projects -->
<div class="container" id="projects">
    <hr />
    <h2 class="terminal-prompt">cat .projects.log | more</h2>
    <p>As I said above, in my free time I like to study new stuff and create projects with the things that I'm learning. Some of the projects that I've been working on are on my Github's <a href="{{ .Site.Params.Contacts.Github }}" target="_blank">profile</a> and you can see the source code. For other projects, instead, you can find only a brief description and the relative link here.</p>
    <a href="/projects" class="btn btn-default btn-block btn-ghost">cd ./projects</a>
</div>

<!-- Contacts -->
<div class="container" id="contacts">
    <hr />
    <h2 class="terminal-prompt">ifconfig</h2>
    <pre><strong><span>tg:</span></strong>
      name = telegram
      username <span class="secondary">{{ .Site.Params.Contacts.telegram }}</span>
      category: chat

<strong><span>gpg:</span></strong>
      name = <a href="{{ .Site.Params.Contacts.gpgUrl }}">gpg</a>
      fingerprint <span class="secondary">{{ .Site.Params.Contacts.gpg }}</span>
      category: chat

<strong><span>tw:</span></strong>
      name = <a href="{{ .Site.Params.Contacts.twitter }}">twitter</a>
      category: social

<strong><span>ln:</span></strong>
      name = <a href="{{ .Site.Params.Contacts.linkedin }}">linkedin</a>
      category: social
    </pre>
</div>
{{- partial "modals/cv.html" . -}}
{{ end }}