/* Uncomment for dark mode */
:root {
    --global-font-size: 15px;
    --global-line-height: 1.4em;
    --global-space: 10px;
    --font-stack: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
      serif;
    --mono-font-stack: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
      serif;
    --background-color: #2e3440;
    --page-width: 60em;
    --font-color: #eceff4;
    --invert-font-color: #3b4252;
    --secondary-color: #8fbcbb;
    --tertiary-color: #5e81ac;
    --primary-color: #81a1c1;
    --error-color: #bf616a;
    --progress-bar-background: #4c566a;
    --progress-bar-fill: #88c0d0;
    --code-bg-color: #4c566a;
    --input-style: solid;
    --display-h1-decoration: none;
}

p {
    text-align: justify;
}

.terminal-prompt::before {
    content: "$ ";
}

/* Navbar */
.terminal-menu ul {
    justify-content: center;
}

/* Welcome message */
#welcome-msg {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
}
#welcome-msg img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}
#welcome-msg h1 {
    width: 100%;
    text-align: center;
    display: block;
}
#welcome-msg h1 span {
    color: var(--tertiary-color);
}
#welcome-msg p {
    text-align: center;
}

/* About me */
#whoami {
    margin-right: auto;
}

/* projects */
.terminal-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 25px;
}
.terminal-card-container .terminal-card:first-child {
    margin-right: 10px;
}

/* Skills */
#skills > div {
    display: flex;
}

#skills div.left-skills {
    width: 50%;
    float: left;
    clear: none;
    padding: 0px 10px;
}

#skills div.right-skills {
    width: 50%;
    float: left;
    clear: none;
    padding: 0px 10px;
}

/* Timeline */
#timeline .terminal-timeline .terminal-card {
    width: 90%;
    margin-top: 25px!important;
}

/* Footer */
footer {
    margin-top: 150px!important;
}
